@font-face {
  font-family: "CharlesWrightBold";
  src: local(CharlesWright-Bold) url("./assets/fonts/CharlesWrightBold.otf")
    format("opentype");
}
@font-face {
  font-family: "CharlesWright";
  src: local(CharlesWright) url("./assets/fonts/CharlesWright.ttf");
}
